{% extends 'base.html' %}

{% block content %}

<div class="row">

  <!-- Sidebar -->

  <div class="col-md-3">

    <div class="list-group shadow-sm">

      <a href="/"
         class="list-group-item list-group-item-action fw-bold">
        All Products
      </a>

      {% for cat in categories %}

      <a href="/?cat={{ cat.id }}"
         class="list-group-item list-group-item-action">
        {{ cat.name }}
      </a>

      {% endfor %}

    </div>

  </div>

{% for product in products %}

<div class="col-md-3 col-sm-6 mb-4">

  <div class="card h-100 shadow-sm border-0 product-card">

    <div class="wishlist-icon">
      <i class="fa fa-heart {% if product.id in wishlist_ids %}active{% endif %}"
        data-id="{{ product.id }}"></i>
    </div>

    <a href="{% url 'product_detail' product.id %}">
      <img src="{{ product.image.url }}"
          class="card-img-top p-3 product-img"
          height="220"
          style="object-fit:contain;">
    </a>

    {% if product.stock == 0 %}
    <p class="text-danger fw-bold small mb-1">
      Out of Stock
    </p>
    {% endif %}

    <div class="card-body text-center">

      <h6 class="fw-bold">
        <a href="{% url 'product_detail' product.id %}"
          class="text-dark text-decoration-none">
          {{ product.name }}
        </a>
      </h6>

      <p class="text-muted small">
        {{ product.description|truncatewords:10 }}
      </p>

      <h5 class="text-success">
        ₹ {{ product.price }}
      </h5>

{% if product.stock > 0 %}

<div class="d-flex gap-2 mt-2">

  <!-- BUY NOW -->
  <button
    class="btn buy-now-btn btn-lg buy-now-btn-js"
    data-id="{{ product.id }}"
    type="button">
     Buy Now
  </button>

  <!-- ADD TO CART -->

  <button
    class="btn btn-primary w-50 add-cart-btn"
    data-id="{{ product.id }}">
    Add to Cart
  </button>

</div>

{% else %}

<button class="btn btn-secondary w-100 mt-2" disabled>
  Out of Stock
</button>

{% endif %}

    </div>

  </div>

</div>

{% endfor %}

</div>


<!-- ADD TO CART SCRIPT -->

<script>

document.addEventListener("DOMContentLoaded", function(){

  document.querySelectorAll(".add-cart-btn").forEach(btn => {

    btn.addEventListener("click", function(){

      let productId = this.dataset.id;

      fetch(`/cart/add/${productId}/`)

      .then(res => res.json())

      .then(data => {

        if(data.status === "login_required"){

          alert("Please login first 🔐");
          window.location.href = "/login/";

        }

        else if(data.status === "out_of_stock"){

          showToast("Out of stock ❌");

        }

        else if(data.status === "max_stock"){

          showToast("You have selected maximum quantity available in stock");

        }

        else if(data.status === "success"){

          let cartCount = document.getElementById("cart-count");

          if(cartCount){
              cartCount.innerText = parseInt(cartCount.innerText) + 1;
              cartCount.style.display = "inline-block";
          }

          let card = this.closest(".product-card");

          if(card){
            let img = card.querySelector(".product-img");
            if(img) flyToCart(img);
          }

          showToast("Added to cart 🛒");

        }

      });

    });

  });

});

</script>


<!-- WISHLIST -->

<script>

document.addEventListener("DOMContentLoaded", function(){

  document.querySelectorAll(".wishlist-icon i").forEach(icon => {

    icon.addEventListener("click", function(e){

      e.preventDefault();

      let id = this.dataset.id;

      fetch(`/wishlist/${id}/`)
      .then(res => res.json())
      .then(data => {

        if(data.status === "added"){
          this.classList.add("active");
        } else {
          this.classList.remove("active");
        }

      });

    });

  });

});

</script>


<!-- FLY TO CART -->

<script>

function flyToCart(imgElement){

    let cart = document.getElementById("cart-btn");
    let img = imgElement.cloneNode(true);

    let rect = imgElement.getBoundingClientRect();
    let cartRect = cart.getBoundingClientRect();

    img.style.position = "fixed";
    img.style.zIndex = "1000";
    img.style.left = rect.left + "px";
    img.style.top = rect.top + "px";
    img.style.width = imgElement.offsetWidth + "px";
    img.style.transition = "all 0.8s ease-in-out";

    document.body.appendChild(img);

    setTimeout(()=>{
        img.style.left = cartRect.left + "px";
        img.style.top = cartRect.top + "px";
        img.style.width = "40px";
        img.style.opacity = "0.5";
    },50);

    setTimeout(()=>{
        img.remove();
    },800);
}

</script>


<!-- BUY NOW SCRIPT -->
<script>
document.querySelectorAll(".buy-now-btn-js").forEach(btn => {

  btn.addEventListener("click", function(){

    let productId = this.dataset.id;

    fetch(`/cart/add/${productId}/`)
    .then(res => res.json())
    .then(data => {

      if(data.status === "login_required"){

        alert("Please login first 🔐");
        window.location.href = "/login/";

      }

      else if(data.status === "success"){

        let cartCount = document.getElementById("cart-count");

        if(cartCount){
            cartCount.innerText = parseInt(cartCount.innerText) + 1;
            cartCount.style.display = "inline-block";
        }

        window.location.href = `/cart/buy-now/${productId}/`;

      }

    });

  });

});
</script>


{% endblock %}